# QCTO - Workplace Module

### Project Title: Contaminated River Water Parameters
#### Done By: Simphiwe Dlamini

© ExploreAI 2024

---

## Table of Contents

<a href=#BC> Background Context</a>

<a href=#one>1. Importing Packages</a>

<a href=#two>2. Data Collection and Description</a>

<a href=#three>3. Loading Data </a>

<a href=#four>4. Data Cleaning and Filtering</a>

<a href=#five>5. Exploratory Data Analysis (EDA)</a>

<a href=#six>6. Modeling </a>

<a href=#seven>7. Evaluation and Validation</a>

<a href=#eight>8. Final Model</a>

<a href=#nine>9. Conclusion and Future Work</a>

<a href=#ten>10. References</a>

---
 <a id="BC"></a>
## **Background Context**
<a href=#cont>Back to Table of Contents</a>

* **Purpose:** The primary goal of this project is to monitor and analyze the water quality of various water bodies in a specific region,  Monitoring water quality is essential for safeguarding aquatic ecosystems and preserving biodiversity. It helps identify pollution sources and take corrective measures.Ensuring access to clean and safe drinking water is crucial for public health. Water quality monitoring helps prevent waterborne diseases and protect communities.The data collected through this project can inform policy decisions related to water resource management, pollution control, and public health.
* **Details:** Include information about the problem domain, the specific questions or challenges the project aims to address, and any relevant background information that sets the stage for the work.
---

---
<a href=#one></a>
## **Importing Packages**
<a href=#cont>Back to Table of Contents</a>

* **Purpose:** Set up the Python environment with necessary libraries and tools.
* **Details:** List and import all the Python packages that will be used throughout the project such as Pandas for data manipulation, Matplotlib/Seaborn for visualization, scikit-learn for modeling, etc.
---

In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
from sklearn.model_selection import train_test_split, cross_val_score
from sklearn.preprocessing import StandardScaler
from sklearn.linear_model import LinearRegression
from sklearn.ensemble import RandomForestRegressor
from sklearn.metrics import mean_squared_error, mean_absolute_error, r2_score
import pandas as pd
import re
from html import unescape
import html

---
<a href=#two></a>
## **Data Collection and Description**
<a href=#cont>Back to Table of Contents</a>

* **Purpose:** 
The main aim is to predict the DO parameter of the river based on the other features. The dataset provides valuable information for understanding the water quality conditions in the study area.
* **Details:** 
219 water samples took from 5 different locations. The size of the dataset will vary depending on the number of sampling points, frequency of measurements, and the duration of data collection. The dataset likely covers water quality parameters relevant to the region or study area, such as pH, temperature, dissolved oxygen, conductivity, turbidity, and nutrient levels. Most water quality parameters are measured numerically (e.g., pH, temperature, conductivity, turbidity).Some data may be categorical, such as sampling point location or water body type.
---

---
<a href=#three></a>
## **Loading Data**
<a href=#cont>Back to Table of Contents</a>

* **Purpose:** Load the data into the notebook for manipulation and analysis.
* **Details:** Show the code used to load the data and display the first few rows to give a sense of what the raw data looks like.
---

In [2]:
# Reading the anime.csv file into a DataFrame
River_water_parameters_df1 = pd.read_csv('River water parameters.csv')
print(River_water_parameters_df1.head(3))

  Date (DD/MM/YYYY) Time (24 hrs XX:XX) Sampling point  \
0        09/05/2023               14:15  Puente Bilbao
1        14/06/2023               14:30  Puente Bilbao
2        14/06/2023               14:30  Puente Bilbao

   Ambient temperature (°C)  Ambient humidity  Sample temperature (°C)   pH  \
0                      17.0              0.47                     19.0  8.3
1                      11.9              0.47                     13.0  8.1
2                      11.9              0.47                     13.0  8.2

   EC\n(µS/cm)  TDS\n(mg/L)  TSS\n(mL sed/L)  DO\n(mg/L)  Level (cm)  \
0         1630          810              1.8        4.30         NaN
1         1000          490             18.0        5.30         NaN
2         1000          490             18.0        4.67         NaN

   Turbidity (NTU)  Hardness\n(mg CaCO3/L) Hardness classification  \
0              NaN                   147.0                  BLANDA
1             41.2                    94.0                  BLANDA
2             38.9                    86.0                  BLANDA

   Total Cl-\n(mg Cl-/L)
0                  156.0
1                   78.0
2                   82.0

In [3]:
# Reading the anime.csv file into a DataFrame
River_water_parameters_df2 = pd.read_csv('River water parameters.xlsx - Base de Datos.csv')
print(River_water_parameters_df2.head(3))

  Date (DD/MM/YYYY) Time (24 hrs XX:XX) Sampling point  \
0         9/05/2023               14:15  Puente Bilbao
1        14/06/2023               14:30  Puente Bilbao
2        14/06/2023               14:30  Puente Bilbao

   Ambient temperature (°C)  Ambient humidity  Sample temperature (°C)   pH  \
0                      17.0              0.47                     19.0  8.3
1                      11.9              0.47                     13.0  8.1
2                      11.9              0.47                     13.0  8.2

   EC\n(µS/cm)  TDS\n(mg/L)  TSS\n(mL sed/L)  DO\n(mg/L)  Level (cm)  \
0         1630          810              1.8        4.30         NaN
1         1000          490             18.0        5.30         NaN
2         1000          490             18.0        4.67         NaN

   Turbidity (NTU)  Hardness\n(mg CaCO3/L) Hardness classification  \
0              NaN                   147.0                  BLANDA
1             41.2                    94.0                  BLANDA
2             38.9                    86.0                  BLANDA

   Total Cl-\n(mg Cl-/L)
0                  156.0
1                   78.0
2                   82.0

In [4]:
River_water_parameters_df1.head(3)

,Date (DD/MM/YYYY),Time (24 hrs XX:XX),Sampling point,Ambient temperature (°C),Ambient humidity,Sample temperature (°C),pH,EC\n(µS/cm),TDS\n(mg/L),TSS\n(mL sed/L),DO\n(mg/L),Level (cm),Turbidity (NTU),Hardness\n(mg CaCO3/L),Hardness classification,Total Cl-\n(mg Cl-/L)
0,09/05/2023,14:15,Puente Bilbao,17.0,0.47,19.0,8.3,1630,810,1.8,4.30,NaN,NaN,147.0,BLANDA,156.0
1,14/06/2023,14:30,Puente Bilbao,11.9,0.47,13.0,8.1,1000,490,18.0,5.30,NaN,41.2,94.0,BLANDA,78.0
2,14/06/2023,14:30,Puente Bilbao,11.9,0.47,13.0,8.2,1000,490,18.0,4.67,NaN,38.9,86.0,BLANDA,82.0

In [5]:
River_water_parameters_df2.head(3)

,Date (DD/MM/YYYY),Time (24 hrs XX:XX),Sampling point,Ambient temperature (°C),Ambient humidity,Sample temperature (°C),pH,EC\n(µS/cm),TDS\n(mg/L),TSS\n(mL sed/L),DO\n(mg/L),Level (cm),Turbidity (NTU),Hardness\n(mg CaCO3/L),Hardness classification,Total Cl-\n(mg Cl-/L)
0,9/05/2023,14:15,Puente Bilbao,17.0,0.47,19.0,8.3,1630,810,1.8,4.30,NaN,NaN,147.0,BLANDA,156.0
1,14/06/2023,14:30,Puente Bilbao,11.9,0.47,13.0,8.1,1000,490,18.0,5.30,NaN,41.2,94.0,BLANDA,78.0
2,14/06/2023,14:30,Puente Bilbao,11.9,0.47,13.0,8.2,1000,490,18.0,4.67,NaN,38.9,86.0,BLANDA,82.0

In [6]:

print(River_water_parameters_df1.shape)

River_water_parameters_df1.info()

(219, 16)
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 219 entries, 0 to 218
Data columns (total 16 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   Date (DD/MM/YYYY)         219 non-null    object
 1   Time (24 hrs XX:XX)       219 non-null    object
 2   Sampling point            219 non-null    object
 3   Ambient temperature (°C)  219 non-null    float64
 4   Ambient humidity          219 non-null    float64
 5   Sample temperature (°C)   219 non-null    float64
 6   pH                        219 non-null    float64
 7   EC
(µS/cm)                219 non-null    int64
 8   TDS
(mg/L)                219 non-null    int64
 9   TSS
(mL sed/L)            213 non-null    float64
 10  DO
(mg/L)                 219 non-null    float64
 11  Level (cm)                180 non-null    float64
 12  Turbidity (NTU)           218 non-null    float64
 13  Hardness
(mg CaCO3/L)     217 non-null    float64
 14  Hardness classification   217 non-null    object
 15  Total Cl-
(mg Cl-/L)      213 non-null    float64
dtypes: float64(10), int64(2), object(4)
memory usage: 27.5+ KB

In [7]:
print(River_water_parameters_df2.shape)

River_water_parameters_df2.info()

(219, 16)
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 219 entries, 0 to 218
Data columns (total 16 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   Date (DD/MM/YYYY)         219 non-null    object
 1   Time (24 hrs XX:XX)       219 non-null    object
 2   Sampling point            219 non-null    object
 3   Ambient temperature (°C)  219 non-null    float64
 4   Ambient humidity          219 non-null    float64
 5   Sample temperature (°C)   219 non-null    float64
 6   pH                        219 non-null    float64
 7   EC
(µS/cm)                219 non-null    int64
 8   TDS
(mg/L)                219 non-null    int64
 9   TSS
(mL sed/L)            213 non-null    float64
 10  DO
(mg/L)                 219 non-null    float64
 11  Level (cm)                180 non-null    float64
 12  Turbidity (NTU)           218 non-null    float64
 13  Hardness
(mg CaCO3/L)     217 non-null    float64
 14  Hardness classification   217 non-null    object
 15  Total Cl-
(mg Cl-/L)      213 non-null    float64
dtypes: float64(10), int64(2), object(4)
memory usage: 27.5+ KB

---
<a href=#four></a>
## **Data Cleaning and Filtering**
<a href=#cont>Back to Table of Contents</a>

* **Purpose:** Prepare the data for analysis by cleaning and filtering.
* **Details:** Include steps for handling missing values, removing outliers, correcting errors, and possibly reducing the data (filtering based on certain criteria or features).
---

In [ ]:
#Please use code cells to code in and do not forget to comment your code.

---
<a href=#five></a>
## **Exploratory Data Analysis (EDA)**
<a href=#cont>Back to Table of Contents</a>

* **Purpose:** Explore and visualize the data to uncover patterns, trends, and relationships.
* **Details:** Use statistics and visualizations to explore the data. This may include histograms, box plots, scatter plots, and correlation matrices. Discuss any significant findings.
---

In [ ]:
#Please use code cells to code in and do not forget to comment your code.

---
<a href=#six></a>
## **Modeling**
<a href=#cont>Back to Table of Contents</a>

* **Purpose:** Develop and train predictive or statistical models.
* **Details:** Describe the choice of models, feature selection and engineering processes, and show how the models are trained. Include code for setting up the models and explanations of the model parameters.
---

In [ ]:
#Please use code cells to code in and do not forget to comment your code.

---
<a href=#seven></a>
## **Evaluation and Validation**
<a href=#cont>Back to Table of Contents</a>

* **Purpose:** Evaluate and validate the effectiveness and accuracy of the models.
* **Details:** Present metrics used to evaluate the models, such as accuracy, precision, recall, F1-score, etc. Discuss validation techniques employed, such as cross-validation or train/test split.
---

In [ ]:
#Please use code cells to code in and do not forget to comment your code.

---
<a href=#eight></a>
## **Final Model**
<a href=#cont>Back to Table of Contents</a>

* **Purpose:** Present the final model and its performance.
* **Details:** Highlight the best-performing model and discuss its configuration, performance, and why it was chosen over others.
---

In [ ]:
#Please use code cells to code in and do not forget to comment your code.

---
<a href=#nine></a>
## **Conclusion and Future Work**
<a href=#cont>Back to Table of Contents</a>

* **Purpose:** Summarize the findings and discuss future directions.
* **Details:** Conclude with a summary of the results, insights gained, limitations of the study, and suggestions for future projects or improvements in methodology or data collection.
---

In [ ]:
#Please use code cells to code in and do not forget to comment your code.

---
<a href=#ten></a>
## **References**
<a href=#cont>Back to Table of Contents</a>

* **Purpose:** Provide citations and sources of external content.
* **Details:** List all the references and sources consulted during the project, including data sources, research papers, and documentation for tools and libraries used.
---

In [ ]:
#Please use code cells to code in and do not forget to comment your code.

## Additional Sections to Consider

* ### Appendix: 
For any additional code, detailed tables, or extended data visualizations that are supplementary to the main content.

* ### Contributors: 
If this is a group project, list the contributors and their roles or contributions to the project.